aiosqlite==0.21.0
APScheduler==3.11.0
bcrypt==4.3.0
boto3==1.37.30
fastapi[standard]==0.115.12
loguru==0.7.3
pydantic==2.10.3
redis==5.2.1
setuptools==75.6.0
starlette==0.41.3
SQLAlchemy==2.0.40
typing_extensions==4.12.2
uvicorn[standard]==0.34.0
