<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>2fa code</title>
  <style type="text/css">
      html, body {
          height: 100%;
      }
      .card {
          padding: 0 20px;
          color: #6f707d;
      }
      .card-title {
          font-size: 1rem;
          font-family: 'Marcellus', fantasy, sans-serif;
      }
      .card-body {
          margin: 3rem 0;
          text-align: center;
          font-size: 3rem;
          color: rgb(0, 47, 167);
          font-family: monospace, sans-serif;
      }
  </style>
</head>

<body>
<table align="center" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th class="card">
      <h5 class="card-title">
        Your 6-digit code for wwr.icu login is
      </h5>
      <h4 class="card-body">
        {{ two_fa_code }}
      </h4>
      <h5 class="card-title">
        request time: {{ time }}
      </h5>
    </th>
  </tr>
</table>
</body>
</html>