name: Build
on:
  pull_request:
    branches:
      - master
      - release
    paths-ignore:
      - '**.md'
      - '**.sh'
      - '**.txt'
      - '**.sql'
      - '**.csv'
      - '**.gitignore'
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - run: |
          pip install uv
          uv build
          cp dist/wwricu-$(cat version.txt).tar.gz dist/wwricu.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: wwricu.tar.gz
          path: dist/wwricu.tar.gz
