name: Publish dev
on:
  push:
    branches:
      - dev
    paths-ignore:
      - '**.md'
      - '**.sh'
      - '**.json'
      - '**.txt'
      - '**.sql'
      - '**.csv'
      - '**.gitignore'
  workflow_dispatch:
jobs:
  github:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - id: build
        run: |
          pip install uv
          uv build
          cp dist/wwricu-$(cat version.txt).tar.gz dist/wwricu.tar.gz
      - uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: snapshot
          files: dist/*
          make_latest: false
          prerelease: true
  dockerhub:
    runs-on: ubuntu-latest
    permissions:
      contents: none
    needs: github
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: wwricu
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          file: DockerfileDev
          tags: wwricu/basic-service:snapshot
